[data-theme="melatech"] {
  --brand-primary: #186346;
  --brand-text: #282625;
  --brand-bg: #FFFFFF;
  --brand-bg-accent: #11402E;
  --brand-link: #3898EC;
  --brand-surface: #F8F8F8;
  --brand-on-accent: #FFFFFF;
}
